
/* General layout of "SensiCardiac App"
***************************************/

html,
body {
	margin:0;
	padding:0;
	height:100%;
	background: rgb(0,255,255);
}
#wrapper {
	min-height:100%;
	position: relative;
}
#header {
	position: fixed;
	left: 200px;
	padding-right: 250px;
	float: left;
	height: 44px;
	top: 0px;
	background:#ededed;
	border-bottom: 1px solid rgb(125,153,186);
	width: 100%;
	z-index: 1;
}

#vertical-nav {
	background: rgb(70,70,70);
	color: rgb(255,255,255);
	width: 200px;
	height: 100%;
	position: fixed;
	top: 0px;
	padding: 0px;	/* top | right | bottom | left */
	margin-top: 0px;
	z-index: 10;
}

#main-area {
	float: left;
	margin-left: 205px;
	width: 680px;
	margin-top: 44px;
}

#sessions {
    float: left;
	background: rgb(0,220,220);
	width: 256px;
	height: 100%;
	margin: 74px 10px 0px 20px;
	overflow: scroll;
}

#footer {
	background: rgb(0,71,107);
	width:100%;
	height:0px;
	position: fixed;
	bottom: 0px;
	left: 200px;
}

/* Styling of vertical navigation bar 
*************************************/

.ul-vertical-nav {
	list-style-type: none;
	margin: 20px 0px 0px 0px; /* top | right | bottom | left */
    padding: 0;
    position: fixed;
    overflow: auto;
    width: 200px; /* see #vertical-nav width*/
}

.li-vertical-nav a {
	display: block;
	font-family: "Arial";
	font-size: 1em;
    color: #FFFFFF;
    padding: 8px 0 8px 20px; /* top | right | bottom | left */
    text-decoration: none;
}

.li-vertical-nav a:hover {
	background-color: #555;
}

/* Styling of the Main Content Area
************************************/
/* Styling of main container */



/* Styling of recorder graphical container */

.recording-tabs-bar {
 	width: 100%;
 	height: 25px;
 	padding: 0px;
 	margin: 5px 0px 0px 0px;
}

.tab-radio-button {
	text-align: center;
	margin: auto;
}

.tab-radio-button input[type="radio"] {
    display:none;
}

.tab-radio-button input[type="radio"] + label {
    color: #292321;
    font-family:Arial, sans-serif;
    font-weight: 300;
    font-size:14px;
}
.tab-radio-button input[type="radio"] + label span {
    display:inline-block;
    width:100px;
    height:25px;
    padding-top: 2px;
    cursor:pointer;
    border: 1px solid rgb(120,120,120);
    border-radius:  5px 5px 0px 0px;
    border-bottom: 0px solid rgba(255,255,255,1);
}

.tab-radio-button label {
	text-align: center;
}

.tab-radio-button input[type="radio"] + label span {
	 background-color: rgb(220,220,220);
}


.tab-radio-button input[type="radio"]:checked + label span{
     background-color: rgb(125,153,186);
}
.tab-radio-button input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}

/* The graph / results area */

.results-container {
	height: 100%; 
	background-color: rgb(230,230,230); 
	border: 1px solid rgb(125,153,186);
	box-shadow: 2px 2px 4px rgb(220,220,220);
}

.graph-area {
	width: 100%;
	height: 300px;
	float: left;	
	margin: 0px;
}

/* The progress bar styling */

.progress-bar {
	border-radius: 10px;
	position: relative;
  	display: block;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 95%;
  height: 5px;
  margin: 2px 2.5%;
}

progress::-webkit-progress-bar {
    border-radius: 10px;
    background-color: rgb(250,250,250);
}
progress::-webkit-progress-value {
    border-radius: 10px;
    background-color: rgb(220,10,10);
}

/* The audio controls styling */

.audio-toolbar {
	
	width: 100%;
	height: 42px;
	clear: left;	
	margin: 5px 0px;
	padding: 5px 10px 0px 10px;
}


.audio-button {
	margin-right: 2px;
	margin-left: 2px;
	float: left !important;
}

.icon-styling {
	float: left;
	font-size: 18px;
	margin: 5px 5px;
}

.volume-progress {
 float: left;
 margin: 7px 5px;
 width: 200px !important;
}

/* Styling Sensi Logo position in nav bar 
******************************************/

.navSensiLogo img {
	margin: 10px auto;
	display:block;
}

/* Styling of the header navigation bar 
******************************************/

.header-nav {
	float; left;
	width: 680px;
	margin: 0;
  	padding: 0;
  	clear: none;
}

.header-menu-item {
	border: 1px solid rgba(125,153,186,0.8);
	color: rgba(120,120,120, 1);
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	padding: 6px;
	margin: 5px;
	font-size: 14px;
}

.header-menu-item:hover {
	border: 2px solid rgba(125,153,186,1);
	color: rgba(120,120,120,1);
}


/* Styling dropdown menu's
****************************/

.dropbtn {
	background-color: #ededed;
    color: rgb(90,90,90);
    padding: 2px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    margin: 0px 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: rgb(90,90,90);
}

/* Styling of the Sessions tool bar 
************************************/

.session-toolbar {
	width: 680px;
	height: 32px;
	clear: left;	
	margin: 5px 0px;
	padding-top: 5px;
	border: 1px solid rgb(200,200,200);
	border-radius: 5px;
}

.session-toolbar:hover {
	background-color: rgb(220,220,220);
}

.session-toolbar ul {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.session-toolbar li {
	float: left;
}

.session-toolbar li a {
	color: rgb(90,90,90);
	text-align: center;
    padding: 5px 16px;
    text-decoration: none;
}

.session-toolbar li a:hover:not(.active) {
	color: rgb(30,30,30);
}

/* Styling of the Forms Area 
************************************/

.forms-container {
	float: left;
	width: 100%;
    height: 100%;
    border: 1px solid red;
    margin: 0px; /* top | right | bottom | left */
}

.patient-forms {
	font-family: Helvetica, Arial, sans-serif;
    padding: 8px 10px 8px 10px;
    border-bottom: 1px solid rgb(208,208,208);
}

.td-width {
	width: 150px;
}

.form-radio-button input[type="radio"] {
	float: left;
    display:none;
}

.form-radio-button input[type="radio"] + label {
    color: #292321;
    font-family:Arial, sans-serif;
    font-size:14px;
}
.form-radio-button input[type="radio"] + label span {
    display:inline-block;
    width:60px;
    height:25px;
    margin: 2px;
    padding-top: 2px;
    cursor:pointer;
    border: 1px solid rgb(0,0,0);
    border-radius:  1px;
}

.form-radio-button label {
	text-align: center;
}

.form-radio-button input[type="radio"] + label span {
	 background-color: rgb(200,200,200);
}


.form-radio-button input[type="radio"]:checked + label span{
     background-color:#CC3300;
}
.form-radio-button input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}



/* Table Style
========================== */
table, th, td {
	font-family: Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #ddd;
}

table {
    width: 100%;
}

td.sub {
    padding: 8px 10px 8px 40px;
}

/* Submit Button Style
==========================*/
.SubmitButton {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	margin: 20px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.SubmitButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}
.SubmitButton:active {
	position:relative;
	top:1px;
}


/* Styling of the sessions list 
********************************/




